.nutrition_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 71%;
}

@media (min-width: 1025px) {
    .nutrition_wrapper {
        width: 90%;
        height: 100%;
        gap: 8.8rem;
    }
}

@media (min-width: 1600px) {
    .nutrition_wrapper {
        gap: 0;
    }
}