.activity_wrapper {
    /* border: 1px solid red; */
    background-color: var(--background-color);
    height: 98%;
    position: relative;
    border-radius: 5px;
    width: 100%;
}

.title_charts {
    position: absolute;
    top: 2em;
    left: 30px;
    font-size: 15px;
    font-weight: 600;
}