#sidebar_wrapper {
    width: 7.3em;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    /* flex: 1.2; */
    /* height: 100vh; */
    height: 689px;
}



.icons_part {
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.icons_part img {
    width: 64px;
    height: 64px;
}

.copyright {
    flex: 4;
    display: flex;
    align-items: center;
    height: 100%;

}

.copyright p {
    font-size: 12px;
    color: #fff;
    transform: rotate(270deg) translateY(-50%);
    text-wrap: nowrap;
}

@media screen and (min-height: 690px) {
    #sidebar_wrapper {
        height: 100vh;
    }
}