#sidebar_wrapper {
    width: 7.3em;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    min-height: 1009px;
}

.icons_part {
    height: 64vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.icons_part img {
    width: 64px;
    height: 64px;
}

.copyright {
    height: 57vh;
    display: flex;
    align-items: center;
    padding-top: 25em;
}

.copyright p {
    font-size: 12px;
    color: #fff;
    transform: rotate(270deg) translateY(-50%);
    text-wrap: nowrap;
}

@media (min-width: 1025px) {
    .icons_part {
        height: 72vh;
        justify-content: flex-end;
    }

    .copyright {
        padding-top: 5em;
    }
}

@media (min-width: 1600px) {
    .icons_part {
        flex: 7;
        padding-top: 2.2em;
    }

    .copyright {
        flex: 4;
    }
}